#clock {
    height: 18vh;
    overflow: hidden;
    width: 100%;
}

#clock #face {
    display: inline-block;
    width: 33%;
    height: 18vh;
    font-size: 12vh;
    line-height: 12vh;
    text-align: center;
    padding-top: 2vh;
}

#clock #message {
    display: inline-block;
    width: 66%;
    font-size: 12pt;

}

#history {
    padding: 1vh 2vh;
    font-size: 15pt;
}