.home-main {
    /* background-color: rgba(255, 255, 255, 0.8);*/
    height: 78vh;
}
.home-nav {
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
}

.home-nav .btn-group-vertical {
    width: 100%;
}

.home-nav .btn:nth-of-type(odd) {
    background: #c9c9c9;
}

.home-nav .btn:nth-of-type(even) {
    background: #fff;
}

.home-nav .btn {
    color: #333;
    width: 100%;
    font-weight: bold;
    line-height: 10vh;
    text-align: left;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;    
}


.top-bar h3 {
    line-height: 10vh;
}