.home-main {
    /* background-color: rgba(255, 255, 255, 0.8);*/
    height: auto;
}
.home-nav {
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
}

.home-nav .btn-group-vertical {
    width: 100%;
}

.home-nav .btn:nth-of-type(odd) {
    background: #c9c9c9;
}

.home-nav .btn:nth-of-type(even) {
    background: #fff;
}

.home-nav .btn {
    color: #333;
    width: 100%;
    font-weight: bold;
    line-height: 8vh;
}

.top-bar h3 {
    line-height: 10vh;
}