.captureButton{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0066B2;
    color: white;
    border-radius: 5px;
    
    
  }

  .deleteButton{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #D77623;
    color: white;
    border-radius: 5px;
  }

  .imageCanvas{
    
    text-align: center;
  }

  img{
    height: 50vh;
    width: 100%;
    object-fit: scale-down;
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }

  #webcam{
    padding: 0;
    display: block;
    margin: auto;
    margin-top: 1em;
    width: 90%;
  }

  .webcam-container{
    position: relative;

  }

  .webcam-container p{
      padding: 1em;
      font-size: 2em;
      color: black;
      z-index: 100;
      position: fixed;
      top: 20%;
      left: 20%;
      background-color: white;
    
  }


  .camera-buttons{
    margin: auto;
    width: 90%;
  }


  .camera-buttons button{
    display: block;
    float: right;
    width: 40%;
    user-select: none;
    border-color: azure;
    height: 4em;
    
  }

  .camera-buttons button:focus {outline:0;}


  .hidden{
    visibility: hidden;
    display: none;
    height: 0px;
    margin: 0px;
    padding: 0px;
  }

