.startup {
    height: 100vh;
}

.startup .startup-body {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 20px;
}
.startup .startup-body h1 {
    font-size: 2em;
    padding: 10px 0 20px;

}

.startup .startup-body .btn {
    margin: 10px 0;
}



