.main .symptoms {
    height: 78vh;
}

.main .symptoms h5 {
    padding: 5vh 0 3.5vh 0;
}

.main .symptoms p {
    padding: 0 0 3.5vh 0;
}

.main .symptoms p ul {
    list-style-position: outside;
    padding-left: 5vh;
}
.main .symptoms p li {
    padding-top: 1vh;
}

.main .symptoms p {
    text-align: left;
}

.symptoms-main {
    height: 78vh;
}