@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Fixes bug with update popup overriding styles and making title text huge 07-12-2021 */
.MuiTypography-h1 {
    font-size: 1.25em !important;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overscroll-behavior: contain;
}

#root
    > div
    > div
    > div.makeStyles-container-155
    > div
    > div
    > div
    > div.MuiPickersBasePicker-pickerView
    > div:nth-child(1)
    > div.MuiPickersCalendarHeader-daysHeader {
    position: relative;
    top: -3em;
}

#root
    > div
    > div
    > div.makeStyles-container-155
    > div
    > div
    > div
    > div.MuiPickersBasePicker-pickerView
    > div:nth-child(1)
    > div.MuiPickersCalendarHeader-switchHeader {
    position: relative;
    top: 2em;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-enter.fade-enter-active {
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity 300ms ease;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease;
  }