
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    overscroll-behavior: contain;
}


#root > div > div > div.makeStyles-container-155 > div > div > div > div.MuiPickersBasePicker-pickerView > div:nth-child(1) > div.MuiPickersCalendarHeader-daysHeader{
    position: relative;
    top: -3em;
}

#root > div > div > div.makeStyles-container-155 > div > div > div > div.MuiPickersBasePicker-pickerView > div:nth-child(1) > div.MuiPickersCalendarHeader-switchHeader{
    position: relative;
    top: 2em;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 
